@page "/allcustomers"
@using Data
@inject NavigationManager Navigation

<h1>All Customers</h1>
<hr/>

@if (Customer.AllCustomers.Count > 0)
{
    <table class="table">
		<thead>
			<tr>
				<th>Customer ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>Customer Status</th>
				<th>Discoount</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var customer in Customer.AllCustomers)
			{
				<tr>
					<td>@customer.CustomerID</td>
					<td>@customer.FirstName</td>
					<td>@customer.LastName</td>
					<td>@customer.Email</td>
					<td>@customer.PhoneNumber</td>
					<td>@(customer.IsBanned ? "Banned" : "Active")</td>
					<td>@customer.Discount</td>
				</tr>
			}
		</tbody>
        
        
    </table>
}

<div>
	<button class="btn btn-primary mt-6" @onclick="GoToCustomerPage">Go Back to Customer Management</button>
</div>


@code {
	private void GoToCustomerPage()
	{
		Navigation.NavigateTo("/customergui");
	}
}
