@page "/viewequipment"
@using VillageRentalsGUI.Data
@inject NavigationManager Navigation

<h1>All Equipment</h1>
<hr />

<table class="table">
    <thead>
        <tr>
            <th class="text-primary border-secondary">Equipment ID</th>
            <th class="text-primary border-secondary">Name</th>
            <th class="text-primary border-secondary">Daily Rate</th>
            <th class="text-primary border-secondary">Category</th>
            <th class="text-primary border-secondary">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var equipment in Equipment.AllEquipment)
        {
                <tr>
                    <td>@equipment.EquipmentID</td>
                    <td>@equipment.EquipmentName</td>
                    <td>@equipment.DailyRentalCost.ToString("C")</td>
                    <td>@equipment.Category?.CategoryName</td>
                    <td>@equipment.EquipmentDescription</td>
                </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" @onclick="GoBackToInventory">Go Back to Inventory</button>

@code {
    private List<Equipment> equipmentList = new();

    protected override void OnInitialized()
    {
        equipmentList = Equipment.AllEquipment;
    }


    private void GoBackToInventory()
    {
        Navigation.NavigateTo("/inventorygui");
    }
}